*.M2
*.S
*.m2-log
*.m2-out
*.mes-out
*.x86-mes-gcc-log
*.x86-mes-gcc-out
*.x86_64-mes-gcc-log
*.x86_64-mes-gcc-out
*.o
*~
/build.log
/src/*.mes.environment.h
/src/*.mes.environment.i
/src/*.mes.h
/src/*.mes.i
/src/*.mes.symbol-names.i
/src/*.mes.symbols.h
/src/*.mes.symbols.i
